each country in countries
  li(class = "country-item" data-country=country.name)
    img(class = "country-flag", src = country.flag, alt = "Flag", width = 40)
    span(class = "country-name") #{country.name}